<html lang="ja">
    <head>
    <meta charset="UTF-8"/>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 27.05.2020, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello! World!!</p>
        </div>

        <div>
            <p>published: 27.05.2020, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Hi! There!!</p>
        </div>
    </body>
</html>